h2 {
    border-bottom: 2px solid #e9ff00;
}

.sectionGrid {
    background-color: #C0D0B7;
}

.sectionWeek {
    background-color: #C0D0B7;
}

.sectionWeek--darker {
    background-color: #99ABA3;
}

.sectionWeek__list li,
.sectionWeek__list li a {
    padding: .1rem;
}

.sectionWeek__list li a:hover {
    background-color: #222222;
}

@media only screen and (min-width: 768px) {
    .sectionWeek__content {
        display: flex;
    }

    .sectionWeek__list {
        width: 50%;
    }
}