.sectionGrid {
  background-color: #C0D0B7;
}

.section h2 {
  margin-bottom: 1.5rem;
}

.sectionDescription {
  grid-area: sectionDescription;
  background-color: #C0D0B7;
}

.sectionDescription p {
  margin-top: 0;
}

.sectionDescription h1 {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
}

.sectionContent {
  grid-area: sectionContent;
  background-color: #99ABA3;
}

.sectionContent a {
  font-size: 10vw;
  color: #e9ff00;
  display: block;
}

.sectionContent a:hover {
  color: #222;
  text-decoration-color: #222;
}

.sectionSidebar {
  grid-area: sectionSidebar;
  background-color: #E6F5CA;
}

.sectionSidebar img {
  height: 300px;
  width: auto;
}

.sectionFooter {
  grid-area: sectionFooter;
  background-color: #738790;
}

@media only screen and (min-width: 768px) {
  .sectionGrid {
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "sectionDescription"
    "sectionContent"
    "sectionSidebar"
    "sectionFooter";
  }

  .sectionDescription,
  .sectionContent,
  .sectionSidebar {
    margin-bottom: -3rem;
  }
  
  .sectionDescription h1 {
    font-size: 4rem;
  }

  .sectionContent a {
    font-size: 6vw;
    color: #e9ff00;
  }
}

@media only screen and (min-width: 1024px) {
  .sectionGrid {
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "sectionDescription sectionDescription"
    "sectionContent sectionSidebar"
    "sectionFooter sectionFooter";
  }

  .sectionContent {
    padding-right: 1.5rem;
    margin-right: -1.5rem;
  }

  .sectionContent a {
    display: inline;
    margin-right: 1rem;
  }

  .sectionSidebar {
    margin-left: -1.5rem;
  }

  .sectionSidebar img {
    display: block;
    margin: 0 auto;
  }
}